{{ partial "home-header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class='container list-container'>
  <h2>{{- default ( i18n "update_history" ) -}}</h2>
  {{ range ( where ( where .Site.Pages.ByLastmod.Reverse "Type" "ne" "page" ) "Type" "eq" "docs").GroupByLastmod "2006" }}
  <div class='archive-group sep-after'>
    <h3>{{ .Key }}</h3>
    <ul class='list'>
      {{ range  .Pages }}
        {{ .Render "li.lastupdated" }}
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>

{{ partial "footer" . }}
