/* Custom CSS */

/* CSS for Lang Select */
.select-style select {
    padding: 0;
    width: 70%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    margin: auto;
    margin-left: 0px;
    margin-right: -20px;
}

.select-style svg {
    fill: #bdbdbd;
    width: 14px;
    height: 14px;
    pointer-events: none;
    margin: auto;
}

svg:not(:root) {
    overflow: hidden;
}
/* end for Lang Select */

/* CSS for featherlight image */
.featherlight img {
    margin: 0 !important;
}

.entry-content a.featherlight-img{
    border-bottom: none;
}
/* end for featherlight image */
