{{ $meta := partial "seo/page-meta.html" . }}

<!-- base url -->
{{ if and (ne site.BaseURL "/") (ne site.BaseURL "http://localhost:1313/") }}
<base href="{{ .Permalink }}" />
{{ end }}

<title>{{ $meta.title }}</title>

<!-- meta noindex -->
{{ if .Param "noindex" }}
<meta name="robots" content="noindex,nofollow" />
{{ end }}


<!-- meta canonical -->
<link rel="canonical" href="{{ $meta.canonical }}" itemprop="url" />


<!-- multilingual SEO optimizations -->
{{ if .IsTranslated }}
{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
{{ end }}
<link rel="alternate" hreflang="x-default" href="{{ $meta.x_default_url }}" />
{{ end }}


<!-- meta keywords -->
{{ if .Params.keywords }}
<meta name="keywords" content="{{ delimit .Params.keywords `, ` }}" />
{{ else if site.Params.metadata.keywords }}
<meta name="keywords" content="{{ delimit site.Params.metadata.keywords `, ` }}" />
{{ end }}


<!-- meta description -->
<meta name="description" content="{{ $meta.description }}" />

<!-- meta author -->
{{ with site.Params.metadata.author }}
<meta name="author" content="{{ . }}" />
{{ end }}


<!-- ######### Opengraph and Twitter image meta ############## -->
{{ with $meta.image_url }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ . }}" />
<meta name="twitter:image:alt" content="{{ $meta.image_alt }}" />
<meta property="og:image" content="{{ . }}" />
<meta property="og:image:alt" content="{{ $meta.image_alt }}" />
{{ end }}
<!-- ######### /Opengraph and Twitter image meta ############## -->

<!-- ######### opengraph others meta ############## -->
<meta property="og:title" content="{{ $meta.title }}" />
<meta property="og:description" content="{{ $meta.description }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:locale" content="{{ $meta.og_locale }}" />
{{ if .IsTranslated }}
  {{ range .AllTranslations }}
    {{ if ne .Lang $.Lang }}
      {{ $translationMeta := partial "seo/page-meta.html" . }}
<meta property="og:locale:alternate" content="{{ $translationMeta.og_locale }}" />
    {{ end }}
  {{ end }}
{{ end }}
{{ if .IsPage }}
<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}" />
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
{{ end }}

<!-- ########## twitter others meta ############### -->
<meta name="twitter:title" content="{{ $meta.title }}" />
<meta name="twitter:description" content="{{ $meta.description }}" />

{{ with site.Params.metadata.twitter }}
<meta name="twitter:site" content="@{{ . }}" />
<meta name="twitter:creator" content="@{{ . }}" />
{{ end }}
